/* global */
*{
  margin: 0;
  padding: 0;
}

body {
  background: no-repeat center bottom fixed url("food-background.jpeg");
  position: relative;
  background-size: cover;
  font-family:  helvetica;
}
h1,h2,h3,h4,h5,h6 {
  font-family: 'Raleway', helvetica, sans;
  font-weight: 100;
}
.content{
  line-height: 1.5;
}
img{
  height: 100%;
}

/* header */
#header {
  display: grid;
  grid-row: auto;
  grid-template-columns: 150px auto 200px;
  grid-template-areas:
  "logo site links"
  ;
  position: relative;
  height: 110px;
  width: 100%;
  border-bottom: 2px solid #000;
  background:rgba(255, 255, 255, 0.5);
}

#header img {
  position: relative;
  display: inline-block;
  grid-area: logo;
  height: 120px;
  margin-top:-10px;
}

#header h1{
  position: absolute;
  grid-area: site;
  justify-self: center;
  display: inline-block;
  top: 15px;
  font-size: 4.5rem;
  font-family: Ubuntu;
  text-align: center;
}

nav{
  grid-area: links;
  justify-self: end;
  position: relative;
  display: inline;
}

.nav-links {
  display: inline-flex;
  text-decoration: none;
  list-style: none;


   a{
    text-decoration: none;
    padding: 0 10px;
    border-left: 1px solid #333;
    text-transform: uppercase;
    font-family: arial;
  }
}
/* divise */
.field{
  padding: 5px;
}

.actions{
  padding: 10px 0;
}

.devise-links a {
  text-decoration: none;
}



/* map */

#mapid{
  height: 300px;
  width: 300px;
  position: relative;
  left: 50%;
  transform: translateX(calc(-50% - 10px));
  margin: 10px;
}

/*media rules*/


@media only screen and (max-width: 1050px) {
  .map-container {
    display: none;
  }
  .index{
    justify-content: center;
    grid-row: 85vh auto;
    grid-template-columns: 1fr;
    grid-template-areas:
    "hero"
    "row";
  }
  .row-container{
    align-self: center;
  }
  .row{
    width:auto;
  }
}
@media only screen and (max-width: 600px) {
  #header h1{
    font-size: 2rem;
    width:100px;
  }
}
