/* edit page */
.edit-form{
  position:absolute;
  left: 50%;
  top:50%;
  transform: translate(-50% , 56px);
  width:80%;
  min-width: 800px;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: auto auto auto;
  grid-template-areas:
  "chef chef location location"
  "biopic biopic map map"
  "cuisine cuisine gallery gallery"
  ;
  grid-row-gap: 40px;
  background-color: rgba(139, 174, 229, 0.8);
  border-radius: 4px;
  -moz-box-shadow: 0 0 3px #000;
  -webkit-box-shadow: 0 0 3px #000;
  box-shadow: 0 0 3px #000;
  h2{
    display: inline;
  }
  .chef-data{
    grid-area: chef;
    justify-self: center;
  }
  .location-data{
    grid-area: location;
    justify-self: center;
  }
  .bio-pic-data{
    grid-area: biopic;
    justify-self: center;
  }
}
.map-data{
  grid-area: map;
  justify-self: center;
  h3 {
    margin-top: 30px;
    text-align: center;
    width:300px;
  }
}
.cuisines-container {
  grid-area: cuisine;
  justify-self: start;
  padding-left: 50px;
}
.form-cuisine-text-left {
  display: inline-block;
  margin-left: 20px;
  width: 60px;

}
.gallery-data{
  grid-area: gallery;
  justify-self: center;
}
.bio-text{
  text-align: left;
  height:300px;
  width: 300px;
  border-radius: 5px;
  font-family: arial;
}

@media only screen and (max-width: 750px) {
  .edit-form {
    grid-template-columns: 100%;
    grid-template-rows: 33% 33% 33% 33% 33% 33%;
    grid-template-areas:
    "chef" "location" "map" "biopic" "gallery" "cuisine"  ;
    min-width: 100px;
  }
}
