.signup-header h2{
  position: relative;
  left:100px;
  display: inline-block;
}
.signup-header a:hover{
  color: rgb(139, 174, 229);
}
.new-form {
  position:relative;
  width: 90%;
  left: 50%;
  transform: translateX(-50%);
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-areas:
  "user mapInfo map";
  background-color: rgba(139, 174, 229, 0.8);
  border-radius: 25px;
  min-height: 70vh;
  min-width: 950px; 
}

.user-signup{
  grid-area: user;
  justify-self: center;
}
.map-info-signup{
  grid-area: mapInfo;
  justify-self: center;
}
.map-signup{
  grid-area: map;
  justify-self: center;
}
